header {
    background-color: #141414;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;




    .topnav {

        position: relative;
        display: none;

        @media (max-width:768px) {
            display: flex;
        }

        .icon {
            color: #FFFFFF;
            display: block;
            font-size: 2rem;
            padding: 20px 0;

            :hover {
                color: #FFFFFF;
            }
        }
    }
}

#myLinks {
    display: none;
    background-color: #232323;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: sans-serif;

    }
}