header {
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;

    nav {
        width: 80%;

        @media (max-width:768px) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {
                list-style: none;
                padding: 10px 20px;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-family: sans-serif;
                }
            }
        }
    }
}